<div id="index-page" class="row">
    <div class="extra-space container-fluid">
        <%= render 'shared/messages' %>
        <%= render 'shared/search_bar' %>
        <%= render 'shared/snippet_list' %>
    </div>
</div>
