<%= render 'shared/messages' %>

<div id="introduction" class="row hero extra-space">
    <div class="content">
        <h1 class="intro-heading text-center">The snippet manager that just works</h1>
        <!--<%= image_tag "snipbase-hero-img.png", class: "hero-img" %>-->
        <div class="intro-items container-fluid">
            <div class="intro-item col-xs-12 col-sm-4">
                <div class="intro-item-img">
                </div>
                <h2 class="intro-item-title">Powerful</h2>
                <div class="intro-item-caption">
                    Managing your snippets has never been this easy! A robust and feature-rich system makes Snipbase a joy to use.
                </div>
            </div>
            <div class="intro-item col-xs-12 col-sm-4">
                <div class="intro-item-img">
                </div>
                <h2 class="intro-item-title">Social</h2>
                <div class="intro-item-caption">
                    Share your snippets and collaborate with others.
                </div>
            </div>
            <div class="intro-item col-xs-12 col-sm-4">
                <div class="intro-item-img">
                </div>
                <h2 class="intro-item-title">Device-friendly</h2>
                <div class="intro-item-caption">
                    View your snippets anywhere, anytime. Snipbase works on everything from desktop to mobile.
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <%= button_to "Sign up for free", register_path, class: "btn blue high hero-signup-btn", method: :get %>
    </div>
</div>
<div id="overview" class="row">
    <div class="content">
    </div>
</div>

<div style="display:none">
share your snippets with friends
    create groups, share knowledge
robust search and filters for your snippets
    easily find the snippet you're looking for
github gists integration
    import/export options

snippets of anything
    from code to cooking recipies, snipbase has got you covered
</div>

