<div id="add-snippet" class="row">
    <%= render 'shared/messages' %>
    <div class="col-xs-12">
        <%= render partial: 'edit_snippet', locals: {snippet: @snippet, new: true, path: add_path()} %>
    </div>
</div>
