<div id="add-snippet" class="row">
    <%= render 'shared/messages' %>
    <h1 class="page-title">New Snippet</h1>
    <div class="editable-snippet">
        <%= render partial: 'edit_snippet', locals: {snippet: @snippet, new: true, path: add_path()} %>
    </div>
</div>
