<div id="show-snippet" class="row">
    <%= render 'shared/messages' %>
    <h1 class="page-title">
        <%= @snippet.title %>
    </h1>

    <div class="col-xs-12">
        <%= render 'shared/snippet', snippet: @snippet %>
    </div>

</div>
