<div id="edit-snippet" class="row">
    <%= render 'shared/messages' %>
    <div class="col-xs-12">
        <%= render partial: 'edit_snippet', locals: {snippet: @snippet, new: false, path: update_snippet_path(@snippet.id)} %>
    </div>
</div>
