<div id="edit-snippet" class="row">
    <%= render 'shared/messages' %>
    <h1 class="page-title">Edit Snippet</h1>
    <div class="editable-snippet">
        <%= render partial: 'edit_snippet', locals: {snippet: @snippet, new: false, path: update_snippet_path(@snippet.id)} %>
    </div>
</div>
