
<div class="list-item col-xs-12 col-sm-6 col-md-4">
    <div class="item-avatar">
    </div>
    <div class="item-metadata">
        <span class="item-name"><%= link_to user.username, show_user_path(username: user.username), title: user.username %></span>
        <% if defined?(pending) && pending %>
            <span class="user-name">(pending)</span>
        <% else %>
            <span class="user-name"><%= user.name %></span>
        <% end %>
        <% if current_user != user && !current_user.following?(user) %>
            <%= link_to "Follow", toggle_follow_user_path(username: user.username), class: "btn btn-small", method: :post %>
    <% elsif current_user != user && current_user.following?(user) %>
            <%= link_to "Unfollow", toggle_follow_user_path(username: user.username), class: "btn btn-small", method: :post %>
    <% end %>
        <% if current_user == @group.owner && current_user != user %>
            <a href="#" class="btn btn-small">Remove</a>
    <% end %>
    </div>
</div>
