<div id="user-group" class="row">
    <%= render 'group_profile' %>
</div>
<div id="group-snippets" class="row">
    <div class="extra-space container-fluid">
        <%= render 'shared/messages' %>
        <h3 class="section-title">Snippets</h3>
    </div>
</div>
