<div id="edit-user" class="row">
    <div id="messages">
        <%= render "shared/messages" %>
    </div>
    <div class="col-sm-4 hidden-xs">
        <div class="panel panel-custom">
            <div class="panel-body">
                TODO: select panel from list below
                <ul>
                    <li>Manage profile
                    <li>Change password
                    <li>Delete account
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <div id="manageprofile" class="panel panel-custom">
            <div class="panel-heading">Manage profile</div>
            <div class="panel-body">
                <%= render 'update_profile' %>
            </div>
        </div>
        <div id="changepassword" class="panel panel-custom">
            <div class="panel-heading">Change password</div>
            <div class="panel-body">
                <%= render 'update_password' %>
            </div>
        </div>
        <div class="panel panel-custom">
            <div class="panel-heading warning">Delete account</div>
            <div class="panel-body">
                <p>
                By deleting your account, you will no longer be able to log in. Your snippets will be removed. You will be removed from any group you are a member of. You will be removed from your followers' lists.
                </p>
                <p>
                This action is <strong>permanent</strong> and cannot be undone.
                </p>
                <input type="submit" class="btn warning" value="Delete my account">
                <span class="button-message">You will be prompted for confirmation.</span>
            </div>
        </div>
    </div>
</div>
