<div id="user-profile" class="row">
    <%= render 'user_profile' %>
</div>
<div id="user-snippets" class="row">
    <div class="extra-space container-fluid">
        <%= render 'shared/messages' %>
        <% @snippets.each do |snippet| %>
            <%= render 'shared/snippet', snippet: snippet, minimizable: true %>
        <% end %>
    </div>
</div>
