body {
    color: $text-color;
    background-color: $bg-color;
    font-size: $font-size;
    font-family: $font-family;
}

h1 { font-size: 36px }
h2 { font-size: 30px }
h3 { font-size: 24px }
h4 { font-size: 18px }

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}


input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
    min-height: 32px;
    padding: 0px 10px;
}


input[type="button"].btn, input[type="submit"].btn, button.btn {
    font-weight: bold;
    color: $text-color-light;
    padding: 5px 12px;
    border: 1px solid #CCCCCC;
    border-radius: 1px;
    background-color: $brand-color;
    border-color: darken($brand-color, 5%) darken($brand-color, 20%) darken($brand-color, 20%) darken($brand-color, 5%);
    @include shadow-depth(1);

    &:hover, &:focus { 
        color: $text-color-light;
        background-color: darken($brand-color, 5%); 
        outline: 0 none !important;
        @include transition(background-color .2s ease);
    }
    &:active { 
        background-color: darken($brand-color, 7%); 
        outline: 0 none !important;
    }

    &.warning {
        background-color: $warning-color;
        border-color: darken($warning-color, 5%) darken($warning-color, 20%) darken($warning-color, 20%) darken($warning-color, 5%);
        color: $text-color-light;
        @include shadow-depth(1);

        &:hover, &:focus { background-color: darken($warning-color, 5%); }
        &:active { background-color: darken($warning-color, 7%); }

        &[disabled], &[disabled]:hover, &[disabled]:focus {
            border-color: lighten($warning-color, 15%) lighten($warning-color, 5%) lighten($warning-color, 5%) lighten($warning-color, 15%);
            background-color: lighten($warning-color, 15%);
        }
    }

    &.green {
        background-color: #3bb878;
        border-color: darken(#3bb878, 5%) darken(#3bb878, 20%) darken(#3bb878, 20%) darken(#3bb878, 5%);
        color: $text-color-light;
        outline: 0 none;
        @include shadow-depth(1);

        &:hover, &:focus { background-color: darken(#3bb878, 5%); }
        &:active { background-color: darken(#3bb878, 7%); }
    }

}

div.extra-space {
    padding-top: 30px;
    padding-bottom: 30px;
}
