$font-size: 14px;
$font-family: helvetica, arial, sans-serif;
$heading-font-family: join('Open Sans', $font-family);

$text-color: #333333;
$text-color-light: #FCFCFC;
$bg-color: #fcfcfc;
$bg-color-alt: #eef1f2;
$brand-color: #4095DB;
$brand-color-light: #7A95C9; 
$highlight-color: #7D7D7D;
$highlight-color-light: #B7B7B7;

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin breakpoint-small {
    @media (min-width: $screen-sm-min) {
        @content;
    }
}

@mixin shadow-depth($depth) {
    @if $depth == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $depth == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


