<div class="search-bar">
    <form id="search" class="" method="post" data-remote="true" accept-charset="UTF-8" action="/search">
    <input id="search_text" type="text" name="search_title"></input>
    <input class="btn" type="submit" value="Search" name="commit"></input>
    </form>
</div>


