<div id="snippet-list">
    <% if defined?(@snippets) && !@snippets.empty? %>
        <% @snippets.each do |snippet| %>
            <%= render 'shared/snippet', snippet: snippet, minimizable: true %>
        <% end %>
    <% elsif !defined?(@snippets) || (defined?(@snippets) && @snippets.empty?) %>
        <h4 class="section-muted-text">Oops, no snippets here!</h4>
    <% end %>
</div>
