<div class="file">
    <input type="textbox" placeholder="File name" name="snippet_files[][filename]">
    <textarea placeholder="Content" name="snippet_files[][content]"></textarea>
    <input type="hidden" name = "snippet_files[][language]" value="text">
</div>
