<div class="view-snippet col-xs-12">
    <div class="snippet-metadata">
        <span class="snippet-title"><%= @snippet.title %></span>
    </div>
    <div class="files">
        <% @snippet.snippet_files.each do |snippet_file| %>
            <div class="file">
                <label for="filename" class="file-name">
                    <%= snippet_file.filename %>
                </label>
                <div class="snippet-editor" data-readonly="true">
                    <%= text_area_tag "teststse", snippet_file.content, placeholder: "Content", class:"snippet-textarea", rows:"8" %>
                </div>
                <input type="hidden" name = "snippet_files[][language]" value="text">
            </div>
        <% end %>
    </div>
</div>
