<div class="file">
	<% if defined?(show) %>
		<button class="btn" type="button" style="display: none">Raw</button>
	<% end %>
	<button class="close" type="button" style="display: none">×</button>
	<%= text_field_tag "snippet_files[][filename]", defined?(file)? file.filename : "" , placeholder: "File name", class: "file-name" %>

    <div class="snippet-editor" data-submit="true">
        <%= text_area_tag "snippet_files[][content]", defined?(file)? file.content : "" , placeholder: "Content", class:"snippet-textarea", rows:"8" %>
    </div>
    <input class="" type="hidden" name = "snippet_files[][language]" value="text">
</div>
