<div class="view-snippet row">
    <div class="snippet-metadata col-xs-12">
        <h1 class="snippet-title"><%= snippet.title %></h1>
    </div>
    <div class="files col-xs-12 <%= 'minimized' if defined?(minimized) %>">
        <% snippet.snippet_files.each do |snippet_file| %>
            <div class="file">
                <div class="file-metadata">
                    <label for="filename" class="file-name">
                        <%= snippet_file.filename %>
                    </label>
                </div>
                <div class="snippet-editor" data-readonly="true">
                    <%= text_area_tag "teststse", snippet_file.content, placeholder: "Content", class:"snippet-textarea", rows:"8" %>
                </div>
                <input type="hidden" name = "snippet_files[][language]" value="text">
            </div>
        <% end %>
    </div>
</div>
