#user-groups {
    .create-group {
        .form-element {
            margin-bottom: 10px;
            label {
                display: block;
                font-size: $font-size - 1px;
            }
            input {
                display: block;
                width: 100%;
            }
        }
    }
    .group-list {
        .list-item .item-metadata {
            .group-members {
                line-height: 20px;
            }

            .btn {
                margin-top: 9px;
            }
        }
    }
}

#group-members {
    .group-member-list {
        .list-item .item-metadata {
            .user-name {
                @include truncate;
                color: lighten($text-color, 40%);
            }

            .btn {
                margin-top: 10px;
            }
        }
    }
}
