$group-avatar-dimensions: 75px;

.group-list {
    .list-item {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #E6E6E6;
        .item-avatar {
            border: 1px solid #DADADA;
            height: $group-avatar-dimensions;
            width: $group-avatar-dimensions;
            float: left;
            img {
                height: $group-avatar-dimensions;
            }
        }
        .item-metadata {
            padding-left: 15px;
            padding-right: 15px;
            margin-left: $group-avatar-dimensions;
            max-height: $group-avatar-dimensions;

            .item-name{
                @include truncate;
                a {
                    color: $text-color;
                    font-size: 16px;
                }
            }

            .user-name {
                @include truncate;
                color: lighten($text-color, 40%);
            }

            .group-members {
                line-height: 20px;
            }

            .remove-user-btn {
                margin-top: 10px;
            }

            .leave-group-btn {
                margin-top: 9px;
            }
        }
    }
}

#user-groups {
    .create-group {
        .form-element {
            margin-bottom: 10px;
            label {
                display: block;
                font-size: $font-size - 1px;
            }
            input {
                display: block;
                width: 100%;
            }
        }
    }
}
