.snippet-editor {
    width: 100%;
    min-height: 300px;
    position: relative;
    .snippet-ace-editor {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.snippet-textarea {
    display: none;
}

.editable-snippet {
    .file {
        border: 1px solid #666666;  //placeholder
        margin: 15px 0px;

        .file-name {
            display: block;
        }

        @extend %clearfix;
    }
}

.view-snippet {
    .file {
        border: 1px solid #666666;  // placeholder
        margin: 15px 0px;
    }
}
