.snippet-editor {
    width: 100%;
    min-height: 300px;
    position: relative;
    .snippet-ace-editor {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.snippet-textarea {
    display: none;
}

.editable-snippet {
    .file {
        border: 1px solid #666666;  //placeholder
        margin: 15px 0px;

        .file-name {
            display: block;
        }

        @extend %clearfix;
    }
}

.view-snippet { // generic snippet display
    position: relative;

    border: 1px solid #DADADA;
    margin: 10px 0px;
    @include shadow-depth(0.5);

    &:hover {
        @include shadow-depth(0.6);
    }

    &.minimized .files {
        display: none;
    }
    &.minimizable .snippet-header {
        cursor: pointer;
    }

    &.selected-snippet {
        @include shadow-depth(0.6);
        .snippet-header {
            border-bottom: 1px solid #E6E6E6;
            .snippet-expand-btn {
                background-image: image-url("collapse-arrow.png");
            }
        }
    }


    .snippet-header {
        position: relative;

        .snippet-metadata {
            padding: 10px;
        }

        .snippet-title {
            display: block;
            font-size: 16px;
            padding-bottom: 10px;
            margin: 0;
        }

        .author {
            font-weight: 600;
        }

        .separator, .permalink, .timestamp, .tags {
            font-size: 13px;
        }

        .timestamp, .tags {
            color: lighten($text-color, 40%);
        }

        .snippet-controls-container .snippet-controls {
            float: right;
            padding: 2px 4px;
            @extend %clearfix;

            @include breakpoint-small {
                float: none;
                margin: 11px 0px;
                .snippet-edit-link, .snippet-delete-link {
                    padding: 2px 10px;
                    display: inline-block;
                }
            }
        }

        .snippet-expand-btn {
            background-image: image-url("expand-arrow.png");
            background-position: center; 
            background-repeat: no-repeat;
            margin-right: 5px;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
        }
    }

    .file {
        border: 1px solid #DADADA;  
        margin: 15px 0px;
        .file-metadata {
            background-color: #F6F6F6;
            border-bottom: 1px solid #E6E6E6;
            padding: 4px 0px;
            .file-name {
                padding: 3px 0px;
                margin: 0;
            }
            .file-raw-link {
                float: right;
            }
        }
    }

    .ace_cursor {   // hide cursor
        color: transparent !important;
    }
}

#show-snippet { // show individual snippet
    .show-snippet-buttons {
        text-align: right;
        form {
            display: inline-block;
        }
    }
}
