.snippet-editor {
    width: 100%;
    min-height: 300px;
    position: relative;
    .snippet-ace-editor {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}


.snippet-language-list {
    li { 
        cursor: pointer; 
    }
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    display:none;
    position:absolute;
    z-index: 1000;
}

.snippet-textarea {
    resize: none;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.editable-snippet {
    .file {
        border: 1px solid #666666;  //placeholder
        margin: 15px 0px;
        .file-header {
            padding-top: 2px;
            padding-bottom: 2px;
            .file-name {
                width: 100%;
            }

            .snippet-list {
                margin-top: 3px;
            }
            @extend %clearfix;
        }
        @extend %clearfix;
    }
}

.view-snippet {
    border: 1px solid #DCDCDC;
    margin-bottom: 5px;
    @include shadow-depth(0.6);

    .snippet-header {
        .snippet-title {
            background-color: $bg-color-dark;
            color: $text-color-light;
            a { color: $text-color-light }
            @include transition(all .3s ease);

            h1 {
                font-size: 20px;
            }
        }
        .snippet-metadata {
            background-color: #f6f6f6;
            border-top: 1px solid #CDCDCD;
            border-bottom: 1px solid #CDCDCD;
            padding-top: 8px;
            padding-bottom: 8px;

            .metadata-item {
                display: inline-block;
                margin-right: 10px;
            }

            .author {
                font-size: 14px;
                font-weight: 600;
            }

            .timestamp, .groups, .private {
                font-size: 12px;
            }

            .metadata-controls .metadata-item {
                margin-right: 0px;
                .snippet-edit-link, .snippet-delete-link {
                    font-size: 15px;
                    padding: 5px;
                    color: lighten($text-color, 15%);

                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
    }

    &.minimizable .snippet-header {
        cursor: pointer;
        position: relative;
        .snippet-expand-indicator {
            margin-right: 5px;
            position: absolute;
            right: 0;
            height: 100%;
            width: 56px;
            fill: #BABABA;
            transform: rotate(180deg);
            svg {   // center svg
                width: 26px;
                height: 100%;
            }
        }
    }

    &.minimized {
        @include shadow-depth(0.5);

        .snippet-title {
            background-color: $bg-color;
            color: $text-color;
            a { color: $text-color}
        }

        .snippet-expand-indicator {
            transform: rotate(0deg) !important;
        }

        .snippet-header:hover {
            @include shadow-depth(0.6);
            @include transition(box-shadow .3s ease);
        }

        &:not(:last-child) {
            border-bottom: none;
        }

        .files {
            display: none;
        }
    }

    .file {
        border: 1px solid #DADADA;  
        margin: 15px 0px;
        .file-metadata {
            background-color: #F6F6F6;
            border-bottom: 1px solid #E6E6E6;
            padding: 4px 0px;
            .file-name {
                padding: 3px 0px;
                margin: 0;
                @include truncate;
            }
            .file-raw-link {
                float: right;
            }
        }
    }
}

#show-snippet { // show individual snippet
}
