#register {
    form.register-form {
        background-color: #F8F8F8;
        padding: 15px;
        margin: auto;
        float: none;
    }
    .register-help {
        text-align: center;
    }
}

#login {
    form.login-form {
        padding: 15px;
        background-color: #F8F8F8;
        margin: auto;
    }
}

#edit-user {
    form.edit-form {
        max-width: 400px;
        border: none;
    }
}

$profile-avatar-padding: 10px;
$profile-avatar-img: 128px;
$profile-avatar-dimensions: $profile-avatar-img + $profile-avatar-padding*2;

#user-profile {
    margin-top: -$extra-space-padding;
    text-align: center;
    @include shadow-depth(1);
    .profile-avatar {
        background-color: $bg-color;
        padding: $profile-avatar-padding;
    }

    .profile-metadata-container {
        .profile-metadata {
            background-color: $bg-color;
            padding-top: 15px;
            padding-bottom: 15px;

            .profile-names  {
                font-family: $heading-font-family;
                .username {
                    display:block;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 1;
                }
                .name {
                    display:block;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 24px;
                    &:empty:before {
                        content: '\00a0'; // &nbsp;
                    }
                }
            }

            .counters {
                padding-top: 8px;
                .item {
                    display: inline-block;
                    margin-right: 10px;
                    .count {
                        font-size: 16px;
                    }
                    .name {
                        font-size: 14px;
                    }
                }
            }
        }

        .profile-controls {
            padding-bottom: 15px;
            .btn {
                padding-left: 20px;
                padding-right: 20px;
                margin-right: 10px;
            }
            .dropdown-menu {
                height: auto;
                max-height: 300px;
                overflow-x: hidden;
            }
        }
    }

    @include breakpoint-small {
        text-align: left;
        @include shadow-depth(0);

        .profile-avatar {
            float: left;
            width: $profile-avatar-dimensions;
            height: $profile-avatar-dimensions;
            @include shadow-depth(3);
            position: relative;
            z-index: 5;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $bg-color;
        }

        .profile-metadata-container {
            margin-left: $profile-avatar-dimensions;

            .profile-metadata {
                @include shadow-depth(1);
                position: relative;
                z-index: 0;
                height: 100px;
            }

            .profile-controls {
                padding-top: 15px;
                padding-bottom: 0px;
            }
        }

    }
}

#show-followers, #show-following {
    .grid-list {
        .list-item .item-metadata {
            .btn {
                margin-top: 8px;
            }
        }
    }
}
