<div id="header">
    <div class="wrapper">
        <h1> 
            <a href="/">Snipbase</a>
        </h1>
        <div class="nav-links">
            <ul>
                <li><a href="/public">Public Snippets</a>
                <li><a href="/tour">Tour</a>
                <li>
                <a href="/login">Log in</a>
                <span>or</span>
                <%= link_to "Register", register_path, class: "register"%>
                </li>
        </div>
    </div>
</div>
