<!DOCTYPE html>
<html>
<head>
<%= render "layouts/head" %>
</head>
<body>
<%= render "layouts/header" %>
<div id="content" class="container-fluid extra-space content">
    <%= yield %>
</div>
</body>
</html>
